@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Josefin+Sans:wght@400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;1,400&family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Aoboshi One', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
}


body {
    background-color: #000;
    color: #fff;

}


/* ----------------------------------------------------------------------------------nav-section------------------------------------------------------ */

#main{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://assets.nflxext.com/ffe/siteui/vlv3/42df4e1f-bef6-499e-87ff-c990584de314/5e7c383c-1f88-4983-b4da-06e14c0984ba/IN-en-20230904-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    width: 150px;
    cursor: pointer;
}

nav button{
    border: 0;
    outline: 0;
    background-color: #e50914;
    padding: 8px 16px;
    color: #fff;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 18px;
}
.language-btn{
    display: inline-flex;
    background-color: transparent;
    border: 1px solid #fff;
    overflow: hidden;
    padding: 7px 20px;
    padding-left: 11px;
}

.language-btn img{
    width: 7px;
    margin-left: 15px;
    padding-top: 7px;
}

.language-btn i{
    size: 10px;
    background-color: transparent;
    margin-right: 9px;
    margin-top: 2px;
}

.page2{
    /* position: relative; */
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}


/*---------------------------------------------------------- header-content section-------------------------------------------------------- */

