@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Josefin+Sans:wght@400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;1,400&family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Aoboshi One', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Varela Round', sans-serif;
}


body {
    background-color: #000;
    color: #fff;

}


/* ----------------------------------------------------------------------------------nav-section------------------------------------------------------ */

#main{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://assets.nflxext.com/ffe/siteui/vlv3/42df4e1f-bef6-499e-87ff-c990584de314/5e7c383c-1f88-4983-b4da-06e14c0984ba/IN-en-20230904-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    width: 150px;
    cursor: pointer;
}

nav button{
    border: 0;
    outline: 0;
    background-color: #e50914;
    padding: 8px 16px;
    color: #fff;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 18px;
}
.language-btn{
    display: inline-flex;
    background-color: transparent;
    border: 1px solid #fff;
    overflow: hidden;
    padding: 7px 20px;
    padding-left: 11px;
}

.language-btn img{
    width: 7px;
    margin-left: 15px;
    padding-top: 7px;
}

.language-btn i{
    size: 10px;
    background-color: transparent;
    margin-right: 9px;
    margin-top: 2px;
}

/*---------------------------------------------------------- header-content section-------------------------------------------------------- */

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.header-content h1{
    font-size: 50px;
    white-space: nowrap;
    font-weight: 1000;
    margin-bottom: 20px;
    }

    .header-content h3{
        /* font-size:30px; */
        margin-bottom: 20px;
    }

    .header-content p{
        margin: 10px 0;
        font-size: 19px;
    }

    .email-signup{
        /* background-color: #fff; */
        border-radius: 4px;
        display: flex;
        overflow: hidden;
        align-items: center;
        margin-top: 30px;
        overflow: hidden;
        margin-left: 240px;
        margin-right: 240px;
        gap: 5px;
    }

    .email-signup input{
        flex: 1;
        border: 2.5px solid #fff;
        outline: 0;
        margin-left: 20px;
        background-color: transparent;
        color: #fff;
        padding: 20px 20px;
        border-radius: 4px;
    }

    .email-signup button{
        background-color: #e50914;
        border: 0;
        outline: 0;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        padding: 19px 50px;
        border-radius: 4px;
        /* font-size: 20px; */
        font-weight: 800;
    }

    /* -------------------------------------------------------page2------------------------------------------------------------- */

.page2{

    height: 80vh;
    width: 100vw;
    /* background-color: #fff; */
    color: #fff;
    display: flex;
    padding-top: 1  0px;
    border-top: 10px solid #262525;
    border-bottom: 10px solid #262525;
}

.page2 .text-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.page2 .text-content h2{
    font-size: 50px;
    margin-bottom: 20px;
}
.page2 .text-content p{
    font-size: 22px;
    margin-left: 180px;
}
.page2 .image {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page2 .image img{
    width: 35rem;
    margin-right: 250px;
    }

    /* ---------------------------------------------------------page3 ----------------------------------*/
    .page3{

        height: 80vh;
        width: 100vw;
        /* background-color: #fff; */
        color: #fff;
        display: flex;
        padding-top: 1  0px;
         border-bottom: 10px solid #262525;
    }

    .page3 .text-content{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .page3 .text-content h2{
        font-size: 50px;
        margin-bottom: 20px;
        /* padding-bottom  : 50px; */
        margin-right: 170px;
    }
    .page3 .text-content p{
        font-size: 22px;
        margin-right: 80px;
        padding-bottom: 100px;
        width: 37rem;
    }
    .page3 .image {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .page3 .image img{
        width: 34rem;
        margin-left: 200px;
        }

        /* --------------------------------------------------------------------page4---------------------------------------------------------- */
        .page4{

            height: 80vh;
            width: 100vw;
            /* background-color: #fff; */
            color: #fff;
            display: flex;
            padding-top: 1  0px;
          
            border-bottom: 10px solid #262525;
        }
        
        .page4 .text-content{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
        }
        .page4 .text-content h2{
            font-size: 50px;
            margin-bottom: 20px;
        }
        .page4 .text-content p{
            font-size: 22px;
            margin-left: 65px;
        }
        .page4 .image {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .page4 .image img{
            width: 35rem;
            margin-right: 250px;
            }

            /*------------------------------------------------------------ page5----------------------------------------------------------------------- */

            .page5{

                height: 80vh;
                width: 100vw;
                /* background-color: #fff; */
                color: #fff;
                display: flex;
                padding-top: 1  0px;
                 border-bottom: 10px solid #262525;
            }
        
            .page5 .text-content{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
            }
        
            .page5 .text-content h2{
                font-size: 50px;
                margin-bottom: 20px;
                /* padding-bottom  : 50px; */
                margin-right: 170px;
            }
            .page5 .text-content p{
                font-size: 22px;
                margin-right: 80px;
                padding-bottom: 100px;
                width: 37rem;
            }
            .page5 .image {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
            .page5 .image img{
                width: 34rem;
                margin-left: 200px;
                }

/* -----------------------------------------------------------------------faq-section--------------------------------------------------------------------- */

.faq{
    padding: 10px 12%;
    text-align:  center;
    font-size: 18px;
}

.faq h2{
    font-weight: 500;
    font-size: 40px;
}

.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background-color: #262525;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
}

input[type="radio"]{
    display: none;
}
